#box{
    
    height: 400px;
    width: 400px;
    background-color: rgb(5, 66, 122);
    color: rgb(255, 255, 255);
    border-radius: 20px ;
    padding: 30px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

#container{
   height: 3000px;
    width: 100%;
    background-color: rgb(74, 243, 255);
}


#view{
    padding: 10px 15px;
    background-color: rgb(6, 124, 36);
    color: white;
    border-radius: 10px;
    cursor: pointer;
    position
}