.body {
  background-color: rgb(216, 214, 214);
  font-family: Arial, sans-serif;
}

.h1 {
  font-size: 2em;
  color: blue;
}

/* hello matee this line is changedd lloldsa
aehaf */

.img {
  height: 500px;
  width: 500px;
  background-color: rgb(165, 169, 169);
  border-radius: 30px;
  border: 2px solid black;
  box-shadow: 16px -7px 14px 2px rgb(112, 107, 107);
}
